@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--index: calc(1vw + 1vh);
	--color-header: #F2F0DF;
	--color-text: #b8860b;
	--gallery-gap: calc(var(--index) * 7.5)
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Outfit", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	color: #b8860b;
}

.content,
.hero,
.main,
.gallery>* {
	will-change: transform;
}

body {
	background-color: #1f1113;
	background-size: 50px;
	color: #fafafa;
	font-family: "Raleway", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	overflow-x: hidden;
}

.all {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	position: fixed;
	top: calc(var(--index) * -2.7);
	left: 0;
	width: 100%;
	height: calc(var(--index) * 6.2);
	background-color: rgba(52, 28, 2, .7);
	z-index: 9999;
	transition: box-shadow .3s;
	backdrop-filter: blur(8px);
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0px;
	transition: padding-top .3s, padding-bottom .3s;
	margin: 0 0 0 0;
}

.header_mini {
	box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 0.8);
}

.header_mini .header__container {
	padding-top: 0px;
	padding-bottom: 0px;
}

.logo {
	display: block;
}

.logo__img {
	display: block;
	height: calc(var(--index) * 10);
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.menu__list {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu__item:not(:last-child) {
	margin-right: 20px;
}

.menu__link {
	font-size: calc(var(--index) * 1);
	padding-left: 2vw;
	text-decoration: none;
	color: #ba8e23;
	transition: all 0.3s;
}

.menu__link:hover {
	color: #fafafa;
	text-decoration: underline;
}

.cats {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

label {
	display: none;
}

#burger-toggle {
	display: none;
}

.hero {
	width: calc(var(--index) * 40);
	position: absolute;
	left: 37vw;
	top: -50vh;
	z-index: -1;
}

.main {
	height: 100vh;
}

.container {
	padding: 0 7vw;
}

.price-container {
	width: 100%;
	min-height: 100vh;
	margin-top: 80px;
}

.price-container h1 {
	color: #b8860b;
	font-size: 39px;
	padding: 50px 0;
	text-align: center;
}

.price-row {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}



.price-col-1,
.price-col-2,
.price-col-3 {
	background: #b8860b;
	border-radius: 10px;
	margin-left: 5vw;
	margin-right: 5vw;
	color: #ffffff;
	text-align: center;
	transition: .5s;
	min-height: 60vh;
	max-width: 16vw;
	transform: scaleX(17vw);

}

.price-col-1 h2,
.price-col-2 h2,
.price-col-3 h2 {
	text-decoration: underline;
	font-size: calc(var(--index) * 2);
	color: #ffffff;
	padding-bottom: 50px;
}



.price-col-1 img,
.price-col-2 img,
.price-col-3 img {
	height: auto;
	width: 12vw;
	margin-bottom: 1.5vh;
	border: #ffffff 1px solid;
}

.price-col-1:hover,
.price-col-2:hover,
.price-col-3:hover {
	-webkit-box-shadow: 0px 0px 63px 0px rgba(224, 170, 9, 1);
	-moz-box-shadow: 0px 0px 63px 0px rgba(224, 170, 9, 1);
	box-shadow: 0px 0px 63px 0px rgba(224, 170, 9, 1);
	cursor: pointer;
}


.price_active {
	max-width: 79vw;
	transform: scaleX(79vw);
	/* height: 70vh; */
	height: auto;
	margin-bottom: 40px;
	cursor: default;
}

.price-frezuri img {
	transform: scale(0%);
	transition: all .7s;
	cursor: default;
}

.price_active .price-frezuri img {
	transform: scale(100%);
}

.price_active .main-frezuri {
	display: flex;
}

.price_active .price-frezuri {
	display: flex;
}

.price_active .images-frezuri {
	display: inline-block;
}

.price_none {
	display: none;
}

.main-frezuri {
	display: none;
	justify-content: center;
	padding: 10px 0 200px;
	position: relative;
}

.price-frezuri {
	width: 80%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 8vw;
}

.images-frezuri {
	width: 200px;
	height: auto;
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

.images-frezuri img {
	border: #1f1113 1px solid;
	width: 200px;
	height: 300px;
	transition: all .5s;
}

.images-frezuri img:hover {
	transform: scale(105%);
	cursor: pointer;
}

.frezuri-text {
	display: block;
	font-size: 22px;
}

.text-f {
	text-align: center;
	padding-top: 100px;
	display: none;
}

/* .fimg {
	transform: scale(100%);
	transition: .7s;
} */

.img_none img {
	transform: scale(0%);
	display: none;
}

.ff_img {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: .5s;
	transform: scale(100%);
	padding: 0 50px;

}

.main-footer {
	margin-top: auto;
	font-size: calc(var(--index) * .6);
	background-color: rgb(52, 28, 2, .7);
	width: 100%;
	padding: 60px 0;

}

.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.footer-contacts {
	width: 20vw;
}

.social-footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 20vw;
}

.social-footer a {
	text-decoration: none;
	color: #F2F0DF;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: calc(var(--index) * 1);
	transition: all .5s;
}

.social-footer a:hover {
	color: #b8860b;
	text-decoration: underline;
}

.create {
	max-width: 20vw;
	text-align: center;
}

.pop_up {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: transparent;
	z-index: 999999;
	transform: translateY(40%) translateX(0%) scale(0.1%);
	transition: all 0.5s;
	opacity: 0;
}

.pop_up.open {
	background-color:
		rgba(0, 0, 0, 0.8);
	transform: translateY(0%) translateX(0%) scale(100%);
	opacity: 1;
}

.pop_up_container {
	display: flex;
	width: 100%;
	height: 100%;
}

.pop_up_body {
	margin: auto;
	position: relative;

}

.pop_up_close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 21px;
	color: #1f1113;
	cursor: pointer;
}


.pop_up_close:hover {
	color: #ffd700;
}

.footer-logo {
	height: calc(var(--index) * 4);
	width: calc(var(--index) * 4);
}


@media (max-width: 400px) {}

@media (max-width: 401px) {
	.footer-container {
		flex-direction: column;
	}

	.main-footer {
		font-size: calc(var(--index) * 1);
		width: 100%;

	}

	.footer-contacts {
		width: 40vw;
		padding-bottom: 20px;
	}

	.social-footer {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 60vw;
		padding-bottom: 20px;
	}

	.social-footer a {
		text-decoration: none;
		color: #F2F0DF;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: calc(var(--index) * 1);
		transition: all .5s;
	}

	.social-footer a:hover {
		color: #b8860b;
		text-decoration: underline;
	}

	.create {
		max-width: 60vw;
		text-align: center;
		padding-bottom: 20px;
	}
}

@media (max-width: 620px) {
	.map_n {
		display: none;
	}
}

@media (max-width: 768px) {

	
}

@media (max-width: 800px) {
	label {
		position: relative;
		display: block;
		height: 25px;
		width: 30px;
	}

	label::after,
	label::before,
	label span {
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: #fff;
		transition: .3s;
	}

	label::before {
		content: "";
		top: 0;
	}

	label::after {
		content: "";
		bottom: 0;
	}

	label span {
		top: 11px;
	}

	#burger-toggle:checked~label::after {
		transform: rotate(45deg);
		bottom: 10px;
	}

	#burger-toggle:checked~label span {
		transform: rotate(-45deg);
		top: 12px;
	}

	#burger-toggle:checked~label::before {
		transform: rotate(-45deg);
		top: 12px;
	}

	.menu__list {
		position: fixed;
		left: 0;
		right: 0;
		background-color: rgba(52, 28, 2, 1);
		padding-top: 300px;
		z-index: -1;
		flex-direction: column;
		text-align: center;
		left: -100vw;
		right: 100vw;
		height: 100vh;
	}

	#burger-toggle:checked~ul {
		left: 0;
		right: 0;
	}

	.menu__item a {
		font-size: 24px;
	}

	.price-row {


		flex-direction: column;
		align-items: center;
	}

	.price-col-1,
	.price-col-2,
	.price-col-3 {
		min-height: 30vh;
		margin-bottom: 40px;
		max-width: 30vw;
	}

	.price-col-1 h2,
	.price-col-2 h2,
	.price-col-3 h2 {
		padding-bottom: 30px;
	}

	.price-col-1 img,
	.price-col-2 img,
	.price-col-3 img {
		height: auto;
		width: 20vw;
		margin-bottom: 1.5vh;
		border: #ffffff 1px solid;
	}
}

@media (max-width: 945px) {}

@media (max-width: 1020px) {}