@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--index: calc(1vw + 1vh);
	--color-header: #F2F0DF;
	--color-text: #b8860b;
	--gallery-gap: calc(var(--index) * 7.5)
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Outfit", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	color: #ffd700;
}

.content,
.hero,
.main,
.gallery>* {
	will-change: transform;
}

body {
	background-color: #1f1113;
	width: 100%;
	height: 100%;
	position: relative;
	color: #fafafa;
	font-family: "Raleway", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	overflow-x: hidden;
}

.main-container {
	background-attachment: fixed;
	width: 100%;
	background-position: center;
	position: static;
	background-size: cover;
	background-image: url(../src/work/barber-shop-chairs-and-mirrors.jpg);
	opacity: .7;
}

.main-container h1 {
	opacity: 1;
}

.container {
	padding: 0 7vw;
}

.all {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	position: fixed;
	top: calc(var(--index) * -2.7);
	left: 0;
	width: 100%;
	height: calc(var(--index) * 6.2);
	background-color: rgba(52, 28, 2, .7);
	z-index: 9999;
	transition: box-shadow .3s;
	backdrop-filter: blur(8px);
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0px;
	transition: padding-top .3s, padding-bottom .3s;
	margin: 0 0 0 0;
}

.header_mini {
	box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 0.8);
}

.header_mini .header__container {
	padding-top: 0px;
	padding-bottom: 0px;
}

.logo {
	display: block;
}

.logo__img {
	display: block;
	height: calc(var(--index) * 10);
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.menu__list {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu__item:not(:last-child) {
	margin-right: 20px;
}

.menu__link {
	font-size: calc(var(--index) * 1);
	padding-left: 2vw;
	text-decoration: none;
	color: #b8860b;
	transition: all 0.3s;
}

.menu__link:hover {
	color: #fafafa;
	text-decoration: underline;
}

.cats {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

label {
	display: none;
}

#burger-toggle {
	display: none;
}

.hero {
	width: calc(var(--index) * 40);
	position: absolute;
	left: 37vw;
	top: -50vh;
	z-index: -1;
}

.hero-section {
	z-index: -1;
}

.portfolio {
	position: relative;
	z-index: 999999;
}

.main {
	height: 100vh;
}

.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
	opacity: 0;
	transition: opacity 3s;
}

.main-title.active {
	opacity: 1;
}

.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
	z-index: 999999;
}

.gallery>* {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 999999;
}

.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
	font-size: 30px;
	z-index: 9999;
}

.g__item__l {
	transform: translateX(-40%);
	opacity: 0;
	transition: opacity, transform 1.8s ease;
	z-index: 9999;
}

.g__item__l.active {
	transform: translateX(0);
	opacity: 1;
	z-index: 9999;
}

.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
	z-index: 9999;
}

.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
	z-index: 9999;
}

.g__item__r {
	transform: translateX(40%);
	opacity: 0;
	transition: opacity, transform 1.8s ease;
	z-index: 9999;
}

.g__item__r.active {
	transform: translateX(0);
	opacity: 1;
	z-index: 9999;
}

.text-block {
	color: var(--color-text);
	z-index: 9999;
}

.text-block__h {
	font-size: calc(var(--index) * 2);
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
	z-index: 9999;
	line-height: 1;
}

.text-block__p {
	line-height: 1.75;
	z-index: 9999;
	font-size: calc(var(--index) * 1);
}

.btn-div {
	position: relative;
	z-index: 9999;
	margin-bottom: 300px;
}

.btn {
	text-decoration: none;
	color: #b8860b;
	padding: 10px 35px 10px 35px;
	position: absolute;
	font-size: calc(var(--index) * 1.2);
	background-color: rgb(88, 63, 7);
	border-radius: 28px;
	text-align: center;
	margin: 0;
	display: flex;
	width: 35vh;
	justify-content: center;
	align-items: center;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	bottom: 26vh;
}

.main-footer {
	margin-top: auto;
	font-size: calc(var(--index) * .6);
	background-color: rgb(52, 28, 2, .7);
	width: 100%;

}

.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.footer-contacts {
	width: 20vw;
}

.social-footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 20vw;
}

.social-footer a {
	text-decoration: none;
	color: #F2F0DF;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: calc(var(--index) * 1);
	transition: all .5s;
}

.social-footer a:hover {
	color: #b8860b;
	text-decoration: underline;
}

.create {
	max-width: 20vw;
	text-align: center;
}

.pop_up {
	width: 100vw;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: transparent;
	z-index: 999999;
	transform: translateY(40%) translateX(0%) scale(0.1%);
	transition: all 0.5s;
	opacity: 0;
}

.pop_up.open {
	background-color: rgba(0, 0, 0, 0.8);
	transform: translateY(0%) translateX(0%) scale(100%);
	opacity: 1;
}

.pop_up_container {
	display: flex;
	width: 100%;
	height: 100%;
}

.pop_up_body {
	margin: auto;
	position: relative;

}

.pop_up_close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 21px;
	color: #1f1113;
	cursor: pointer;
}

.pop_up_close:hover {
	color: #ffd700;
}

.footer-logo {
	height: calc(var(--index) * 4);
	width: calc(var(--index) * 4);
}



@media (max-width: 401px) {
	.footer-container {
		flex-direction: column;
	}

	.main-footer {
		font-size: calc(var(--index) * 1);
		width: 100%;

	}

	.footer-contacts {
		width: 40vw;
		padding-bottom: 20px;
	}

	.social-footer {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 60vw;
		padding-bottom: 20px;
	}

	.social-footer a {
		text-decoration: none;
		color: #F2F0DF;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: calc(var(--index) * 1);
		transition: all .5s;
	}

	.social-footer a:hover {
		color: #b8860b;
		text-decoration: underline;
	}

	.create {
		max-width: 60vw;
		text-align: center;
		padding-bottom: 20px;
	}

	.btn{
		bottom: 30vh;
	}
}

@media (max-width: 620px) {
	.map_n{
		display: none;
	}
}

@media (max-width: 768px) {
	
}

@media (max-width: 800px) {
	label {
		position: relative;
		display: block;
		height: 25px;
		width: 30px;
	}

	label::after,
	label::before,
	label span {
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: #fff;
		transition: .3s;
	}

	label::before {
		content: "";
		top: 0;
	}

	label::after {
		content: "";
		bottom: 0;
	}

	label span {
		top: 11px;
	}

	#burger-toggle:checked~label::after {
		transform: rotate(45deg);
		bottom: 10px;
	}

	#burger-toggle:checked~label span {
		transform: rotate(-45deg);
		top: 12px;
	}

	#burger-toggle:checked~label::before {
		transform: rotate(-45deg);
		top: 12px;
	}

	.menu__list {
		position: fixed;
		left: 0;
		right: 0;
		background-color: rgba(52, 28, 2, 1);
		padding-top: 300px;
		z-index: -1;
		flex-direction: column;
		text-align: center;
		left: -100vw;
		right: 100vw;
		height: 100vh;
	}

	#burger-toggle:checked~ul {
		left: 0;
		right: 0;
	}

	.menu__item a {
		font-size: 24px;
	}

	.gallery__item {
		max-width: calc(var(--index) * 12);
		max-height: 100vh;

	}
	.btn{
		bottom: 20vh;
	}
}

@media (max-width: 945px) {
}

@media (max-width: 1020px) {}